<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Користувачі</title>
</head>
<body>
  <h1>Користувачі</h1>
  <ul>
    {{#users}}
    <li>{{name}} ({{email}})</li>
    {{/users}}
  </ul>
</body>
</html>
